
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(18, 5, 5, 0.05) 0 6px 24px rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;
}


.button-container , .info-container{
    display: flex;
    align-items: center; 
}

.button-container button{
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 10px;
}

.edit{
    border:1.5px solid rgb(141,181,145);
    color: rgb(141,181,145);
    text-transform: uppercase;
}

.edit:hover{
    background-color: rgb(182,223,186);
}

.edit:active{
    color: rgb(255, 255, 255);
    background-color: rgb(141,181,145);

}

.delete{
    border: 1.5px solid rgb(255,175,163);
    color: rgb(205, 95, 78);
    text-transform: uppercase
}

.delete:hover{
    background-color: rgb(255,201,193);

}

.delete:active{
    color: rgb(255,255,255);
    background-color: rgb(255,175,163);
}


.create{
    border: 1.5px solid rgb(141,181,145);
    color: rgb(85, 167, 89);
    text-transform: uppercase;
}

.create:hover{
    background-color: rgb(182,223,186);
}

.create:active{
    background-color: rgb(182,223,186);
    color: rgb(255, 255, 255);
}

.signout{
    border: 1.5px solid rgb(255, 175, 163);
    background-color: rgb(255, 175, 163) !important;
    color: rgb(255, 255, 255)  ;
}

.signout:hover{
    background-color: rgb(175, 94, 94) !important;
    border: 1.5px solid rgb(175, 94, 94);

}


.signout:active{
    border: 1.5px solid rgb(175,81,81) !important;
    background-color: rgb(175,81,81) !important;
    color: rgb(255, 255, 255);
}


input{
    margin: 11px;
    padding: 12px 6px;
    border-radius: 12px;
    border: 1.5px solid rgb(230, 232, 236);
}


/* List Header */


.list-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.button-container{

}


/* List Item */

.list-items{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;

}

.tick{
    padding: 10px;
}



/* Modal  */

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal{
    width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0 , rgba(0, 0, 0, 0.08) 0 0 0 1px; 
}


.modal .form-title-container{
    display: flex;
    justify-content: space-between;

}

.form-title-container button{
    border: none;
    background-color: transparent;
}

.form-title-container button:active{
    color: rgb(255, 50, 50);
}


.modal form{
    display: flex;
    flex-direction: column;
}

.modal label{
    font-size: 13px;
}


